
.env
.env.local
credentials.json
server/target/
server/*.jar
server/.mvn/
server/mvnw
server/mvnw.cmd
*.class
*.log
node_modules/
client/.next/
client/out/
client/.pnp/
client/.pnp.js
.idea/
.vscode/

docker-compose.override.yml
